.marqueeContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.marqueeContent {
    display: flex;
    width: max-content;
    gap: 4rem;
    /* Spacing between items */
    animation: scroll linear infinite;
}

.reverse {
    animation-direction: reverse;
}

.pauseOnHover:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}